{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% block title %}Inicio{% endblock title %}
    
{% block contenido %}

    {% if videos_by_date %}
        <section id="videos_showed">
            <!-- Videos -->
            <div class="row">
                {% for video in videos_by_date %}
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <article class="card h-100">
                        <header class="card-header">
                            {{ video.id_user.username }}
                        </header>
                        <figure>
                            <a href="{% url 'userprofiles:video_details' video.pk %}">
                                <img class="img img-responsive" style="width:100%" src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                            </a>
                            </video>
                        </figure>
                        <div class="card-body">
                            <h4 class="card-title">
                                <!-- Contribución de Osvaldo -->
                                <a href="{% url 'userprofiles:video_details' video.pk %}">{{ video.title }}</a>
                                <!-- - - - - - - - - - - - - -->
                            </h4>
                            <p class="card-text">{{ video.sumary }}</p>
                        </div>
                        <footer class="card-footer text-muted">
                            Subido el {{ video.date|localtime|date:'Y-m-d \a \l\a\s H:i' }}hrs
                        </footer>
                    </article>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </section>
    {% else %}
        <!-- No videos -->
            <article class="text-center" style="margin-top:10em">
                    <p><strong class="text-center">No hay videos disponibles</strong></p>
            </article>
    {% endif %}

    <!-- Modal de inicio de sesión -->
    <div class="modal fade" id="inicio" role="dialog">
        <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Iniciar Sesión</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="inicio">

                        <input type="text" name="username">
                        <input type="password" name="password">

                        <button type="submit" class="btn-primary">Iniciar Sesión</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="registro" role="dialog">
        <div class="modal-dialog modal-lg">
        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Registro</h4>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="action" value="registro">

                        <input type="text" name="username" placeholder="usuario">
                        <input type="password" name="password" placeholder="contraseña">
                        <input type="email" name="email" placeholder="email">

                        <button type="submit" class="btn-primary">Registro</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}

{% block extraFooter %}
    <div class="sorter">
        <div class="circulo oculto" id="date"><span id="date" class="glyphicon glyphicon-calendar"></span></div>
        <div class="circulo oculto" id="views"><span id="date" class="glyphicon glyphicon-eye-open"></span></div>
        <div class="circulo oculto" id="searched"><span id="date" class="glyphicon glyphicon-search"></span></div>        
        <div class="circulo" id="sorter"><span class="glyphicon glyphicon-sort-by-attributes"></span></div> 
    </div>
{% endblock extraFooter %}


{% block scripts %}
    <script src="/static/scripts/sorter.js"></script>
    <script>
        $(function(){
            console.log('{{ lista_videos }}');
        });
    </script>
{% endblock scripts %}
    