{% extends 'base.html' %}
{% load staticfiles %}
{% load tz %}
{% block title %}Inicio{% endblock title %}
    
{% block contenido %}
    {% if object_list %}
        <section id="busqueda" class="form-inline">
            <input id="buscador" class="form-control" type="text" placeholder="Buscar...">
            <button id="btnBuscar" class="btn btn-dark"><span class="glyphicon glyphicon-search"></span></button>            
        </section>
        <section id="videos_mostrados">
            <!-- Videos -->
            <div class="row">
                {% for video in object_list %}
                <div class="col-lg-4 col-md-6 portfolio-item">
                    <article class="card h-100">
                        <header class="card-header">
                            {{ video.id_user.username }}
                        </header>
                        <figure>
                            <a href="{% url 'userprofiles:video_details' video.pk %}">
                                <img class="img img-responsive" style="width:100%" src="{{ video.thumbnail.url }}" alt="{{ video.title }}">
                            </a>
                            </video>
                        </figure>
                        <div class="card-body">
                            <h4 class="card-title">
                                <!-- Contribución de Osvaldo -->
                                <a href="{% url 'userprofiles:video_details' video.pk %}">{{ video.title }}</a>
                                <!-- - - - - - - - - - - - - -->
                            </h4>
                            <p class="card-text">{{ video.sumary }}</p>
                        </div>
                        <footer class="card-footer text-muted">
                            Subido el {{ video.date|localtime|date:'Y-m-d \a \l\a\s H:i' }}hrs
                        </footer>
                    </article>
                </div>
                {% endfor %}
            </div>
            <!-- /.row -->
        </section>
    {% else %}
        <!-- No videos -->
            <article class="text-center" style="margin-top:10em">
                    <p><strong class="text-center">No hay videos disponibles</strong></p>
            </article>
    {% endif %}

   
{% endblock contenido %}

{% block extraFooter %}
    <div class="sorter">
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="ordenar">
            <div class="circulo oculto" title="recientes"><span id="date" class="glyphicon glyphicon-calendar"></span></div>
            <div class="circulo oculto" title="vistos"><span id="views" class="glyphicon glyphicon-eye-open"></span></div>
            <div class="circulo oculto" title="buscados"><span id="searched" class="glyphicon glyphicon-search"></span></div>        
            <div class="circulo" id="sorter" title="oredenar por..."><span class="glyphicon glyphicon-sort-by-attributes"></span></div> 
        </form>
    </div>
{% endblock extraFooter %}


{% block scripts %}
    <script src="/static/scripts/sorter.js"></script>
    <script src="/static/scripts/busca.js"></script>
{% endblock scripts %}
    