body {
    margin-top: 20px;
    margin-bottom: 60px
}

video {
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

#busqueda {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#busqueda:first-child {
    float: right;
    width: 100%;
}
#buscador {
    width: 93%;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sorter {
    position: relative;
    bottom: 0;
}

.circulo{
    color: white;

    background-color: #17a2b8;
    border: 1px solid #117a8b;
    text-align: center;
    font-size: 27pt;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    float: right;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(180deg);
}
.circulo:hover {
   background-color: #138496;
   border-color: #117a8b;
   color: whitesmoke;
   font-size: 26pt;
}

.revolviendo {
    top: 0;
    left: 0;
    -webkit-transform: translate(0,0);
    -moz-transform: translate(0,0);
    -ms-transform: translate(0,0);
    -o-transform: translate(0,0);
}

.oculto {
    display: none;
}

.sorter{
    position: absolute;
    width: 50px;
    height: 220px;
    bottom: 2rem;
    right: 1rem;
    transform: rotate(180deg);
}

@media (max-width: 240px) {
    #site {
        display: none;
    }
}